<div class="header">
      <img class="headerlogo" src="/img/google.png" alt="logo google">
      <form class="headergrid">
        <input class="searchbar" type="text">
        <button class="button">Search</button>
      </form>
</div>
<span class="results">{{results.length}} results</span>
{{#each results as | result |}}
{{> result result=result}}
{{/each}}
